[submodule "lib/lume"]
	path = lib/lume
	url = git@github.com:rxi/lume.git
[submodule "lib/hump"]
	path = lib/hump
	url = git@github.com:vrld/hump.git
[submodule "lib/Fennel"]
	path = lib/Fennel
	url = git@github.com:bakpakin/Fennel.git
